<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Администратор</title>


    <environment include="Development">

        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

        <script src="~/Admin/js/jquery-3.3.1.min.js"></script>

        <script src="~/jqwidgets/globalization/globalize.js"></script>
        <script src="~/jqwidgets/globalization/globalize.culture.ru-RU.js"></script>

        <link href="~/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.energyblue.css" rel="stylesheet" />

        <script src="~/Admin/js/bootstrap.js"></script>
        <script src="~/Admin/js/bootstrap-datepicker.js"></script>
        <script src="~/Admin/js/bootstrap-table.js"></script>
        <script src="~/Admin/js/html5shiv.min.js"></script>
        <script src="~/Admin/js/lumino.glyphs.js"></script>
        <script src="~/Admin/js/respond.min.js"></script>
        <script src="~/Admin/js/jquery-ui.js"></script>



        <link href="~/Admin/css/bootstrap.css" rel="stylesheet" />
        <link href="~/Admin/css/styles.css" rel="stylesheet" />
        <link href="~/Admin/css/bootstrap-table.css" rel="stylesheet" />
        <link href="~/Admin/css/bootstrap-theme.css" rel="stylesheet" />

        <link href="~/Admin/css/jquery-ui/jquery-ui.css" rel="stylesheet" />



        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    </environment>

    <environment exclude="Development">

        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

        <script src="~/Admin/js/jquery-3.3.1.min.js"></script>

        <link href="~/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.energyblue.css" rel="stylesheet" />


        <script src="~/Admin/js/bootstrap.js"></script>
        <script src="~/Admin/js/bootstrap-datepicker.js"></script>
        <script src="~/Admin/js/bootstrap-table.js"></script>
        <script src="~/Admin/js/html5shiv.min.js"></script>
        <script src="~/Admin/js/lumino.glyphs.js"></script>
        <script src="~/Admin/js/respond.min.js"></script>
        <script src="~/Admin/js/jquery-ui.js"></script>

        <link href="~/Admin/css/bootstrap.css" rel="stylesheet" />
        <link href="~/Admin/css/styles.css" rel="stylesheet" />
        <link href="~/Admin/css/bootstrap-table.css" rel="stylesheet" />
        <link href="~/Admin/css/jquery-ui/jquery-ui.css" rel="stylesheet" />



        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    </environment>

</head>

    <body>
        @Html.Partial("_Header")
        @Html.Partial("_SideBar")
        @RenderBody()
    </body>

</html>

<script>


    !function ($) {
        $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })
</script>

