<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Администратор</title>


    <environment include="Development">

        <script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
        <script src="~/Admin/js/bootstrap.js"></script>

        <script asp-src-include="~/Admin/jqwidgets/**/*.js"></script>
        <script asp-src-include="~/Admin/js/**/*.js"></script>


        <link asp-href-include="~/Admin/jqwidgets/**/*.css" rel="stylesheet" />
        <link asp-href-include="~/Admin/css/**/*.css" rel="stylesheet" />




        @*<script src="~/Admin/js/bootstrap-datepicker.js"></script>
            <script src="~/Admin/js/bootstrap-table.js"></script>
            <script src="~/Admin/js/chart-data.js"></script>
            <script src="~/Admin/js/chart.min.js"></script>
            <script src="~/Admin/js/easypiechart-data.js"></script>
            <script src="~/Admin/js/easypiechart.js"></script>
            <script src="~/Admin/js/html5shiv.min.js"></script>
            <script src="~/Admin/js/jquery-1.11.1.min.js"></script>
            <script src="~/Admin/js/lumino.glyphs.js"></script>
            <script src="~/Admin/js/respond.min.js"></script>*@




        @*<link href="~/Admin/css/bootstrap-table.css" rel="stylesheet" />
            <link href="~/Admin/css/bootstrap-theme.css" rel="stylesheet" />
            <link href="~/Admin/css/bootstrap.css" rel="stylesheet" />
            <link href="~/Admin/css/datepicker.css" rel="stylesheet" />
            <link href="~/Admin/css/datepicker3.css" rel="stylesheet" />
            <link href="~/Admin/css/styles.css" rel="stylesheet" />*@

        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>


        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    </environment>

    <environment exclude="Development">

        <script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
        <script src="~/Admin/js/bootstrap.js"></script>

        <script asp-src-include="~/Admin/jqwidgets/**/*.js"></script>
        <script asp-src-include="~/Admin/js/**/*.js"></script>


        <link asp-href-include="~/Admin/jqwidgets/**/*.css" rel="stylesheet" />
        <link asp-href-include="~/Admin/css/**/*.css" rel="stylesheet" />


        @*<script src="~/Admin/js/bootstrap-datepicker.js"></script>
            <script src="~/Admin/js/bootstrap-table.js"></script>
            <script src="~/Admin/js/bootstrap.js"></script>
            <script src="~/Admin/js/chart-data.js"></script>
            <script src="~/Admin/js/chart.min.js"></script>
            <script src="~/Admin/js/easypiechart-data.js"></script>
            <script src="~/Admin/js/easypiechart.js"></script>
            <script src="~/Admin/js/html5shiv.min.js"></script>
            <script src="~/Admin/js/jquery-1.11.1.min.js"></script>
            <script src="~/Admin/js/lumino.glyphs.js"></script>
            <script src="~/Admin/js/respond.min.js"></script>
            <link href="~/Admin/css/bootstrap-table.css" rel="stylesheet" />
            <link href="~/Admin/css/bootstrap-theme.css" rel="stylesheet" />
            <link href="~/Admin/css/bootstrap.css" rel="stylesheet" />
            <link href="~/Admin/css/datepicker.css" rel="stylesheet" />
            <link href="~/Admin/css/datepicker3.css" rel="stylesheet" />
            <link href="~/Admin/css/styles.css" rel="stylesheet" />*@

        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>


        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    </environment>

</head>

<body>
    @Html.Partial("_Header")
    @Html.Partial("_SideBar")
    @RenderBody()
</body>

</html>

<script>
    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })
</script>
