@*<div class="pull-right">
        <a id="aFontAsc" href="">Aa+</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a id="aFontDesc" href="">Aa-</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a id="aFontSelect" href="">Шрифт</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a id="aFontSettingsSave" href="">Сохранить</a>

    </div>*@

<div class="span10 offset1">

    @*TO DO!!  breadcrumb для media*@
    <div class="breadcrumb">
        <span class="left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home /</a></li>
                <li class="breadcrumb-item"><a href="#">Category /</a></li>
                <li class="breadcrumb-item"><a href="#">Aythor /</a></li>
                <li class="breadcrumb-item active">BookName</li>
            </ol>
        </span>
     </div>

    <br>

    <h6 class="title-bg title-bg-white">
        <button class="btn btn-small btn-warning">Закладка <i class="icon-bookmark"></i></button>
        <span class="right btn-group">
            <button class="btn btn-small btn-inverse">Aa+</button>
            <button class="btn btn-small btn-inverse">Aa-</button>
            <button class="btn btn-small btn-inverse">Сохранить</button>
        </span>
    </h6>


    <div class="project-details project-details-page">
        <p>
            Полная чаша даже при легком дрожании может пролиться. В этой жизни невозможно достичь чего-то существенного, все время беспокоясь, сомневаясь и переживая. Результат такого напряжения – старение ума и тела, в конечном счете, болезнь и короткая жизнь.

            Смешны проблемы типа: «Говорят, Солнцу осталось светить пять лет, потом взрыв» или «Земля в области экватора расширяется». У Творца на все свое время. ПриSдет космическая осень, замрет жизнь не только на Земле. Исчезнут все видимые объекты: звезды, галактики. Но для Высшего это будет такой же Золотой порой, какой бывает урожайная осень на Земле. Его Урожай – энергия миллионов Солнечных клеточек, создающих мощь Высшего. И родники этой мощи лежат здесь, на Земле, в людской доброте, сострадании, милосердии, любви, восхищении и радости. Среди многих споров и рассуждений об «умных» и «глупых», «богатых» и «бедных», «духовных» и «бездуховных» нужно, наконец, принять только один критерий земной жизни: живете ли вы радостно, с восторгом перед этой жизнью, ибо восхищением и радостью – накапливаем, сомнением – разрушаем, беспокойством и негодованием – теряем.

            Авторский комментарий
            ПРОГРАММА
            Ежегодной производственной подготовки по вопросам технической эксплуатации

            Тема 1. Основы электроэнергетики.

            Понятие об электрическом токе. Единица измерения. Элементы электрической цепи, источники электрического тока. Электрическое сопротивление, удельное сопротивление, проводимость, единицы измерения.
            Работа и мощность электрического тока. КПД. Активная, реактивная и полная мощность.
            Переменный ток. Цепи переменного тока с активным и индуктивным сопротивлением.
            Мощность, коэффициент мощности, работа переменного тока. Единицы измерения.
            Трёхфазный переменный ток. Линейные и фазные токи и напряжения.

            Тема 3. Схемы и компоновка распределительных устройств подстанций.

            Требования к РУ: соответствие электрической схемы с условиями работы ТП/РП в энергосистеме, устройство и безопасность эксплуатации: устройство электрической части.
            Основные виды и компоновка РУ в ТП/РП.
            Строение КТП/МТП, требования к ним, безопасная эксплуатация.
            Схемы распределительных сетей 6-10 кВ.

            Тема 5. Электрооборудование подстанций.

            Электрические аппараты, их классификация, назначение, основные требования к них.
            Проводники и изоляторы. Шины, шинные конструкции. Электрические контакты.
            Токопроводы, назначение, основные требования к ним.
            Неизолированные многожильные провода. Кабели.
            Выключатели переменного тока. Масляные выключатели, вакуумные выключатели. Управление выключателями, типы приводов их конструкция.
            Трансформаторы тока и напряжения, конструкция, назначение, схема подключения.
            Токоограничивщие реакторы, их назначение, конструкция. ОПН/РВО на ВЛ, установка и применение.
            Силовые трансформаторы, их назначение.

            Тема 8. Оперативно-диспетчерское управление.

            Задачи и организации управления. Организация структура оперативного диспетчерского управления в энергоснабжающих компаниям. Категории управления.
            Управление оборудованием. Правила оформления и сроки подачи заявок. Вывод в ремонт и включение оборудования.
            Предупреждение и ликвидация технологических нарушений.  Требования к действиям персонала в аварийной ситуации. Ликвидация технологических нарушений оборудования в ТП/РП/КТП/МТП.
            Ведение оперативных переговоров.
            Оперативно-техническая документация. Ведение оперативно-технической документации.
            Организация противоаварийной работы.

            Тема 11. Неисправности и дефекты в электроустановках

            Неисправность и повреждения трансформаторов: утечка масла из расширительного бака, попадание влаги в бак, короткое замыкание обмоток, возгорание масла.
            Неисправности и повреждения выключателей: повреждение контактной системы из-за несоответствия отключающей способности выключателя, поломки деталей тяг.
            Разрушение изоляции кабелей, повреждение муфт.
            Роль периодических осмотров оборудования дежурным персоналом.


            Составил:
            Начальник Ворошиловского РЭС 						           И.В. Скрыпник

            Согласовано:
            Ведущий инженер СПАРиТН
            ТЕ «Донецкие ГЭС»									Г.Г. Рагозин

            Полная чаша даже при легком дрожании может пролиться. В этой жизни невозможно достичь чего-то существенного, все время беспокоясь, сомневаясь и переживая. Результат такого напряжения – старение ума и тела, в конечном счете, болезнь и короткая жизнь.

            Смешны проблемы типа: «Говорят, Солнцу осталось светить пять лет, потом взрыв» или «Земля в области экватора расширяется». У Творца на все свое время. Придет космическая осень, замрет жизнь не только на Земле. Исчезнут все видимые объекты: звезды, галактики. Но для Высшего это будет такой же Золотой порой, какой бывает урожайная осень на Земле. Его Урожай – энергия миллионов Солнечных клеточек, создающих мощь Высшего. И родники этой мощи лежат здесь, на Земле, в людской доброте, сострадании, милосердии, любви, восхищении и радости. Среди многих споров и рассуждений об «умных» и «глупых», «богатых» и «бедных», «духовных» и «бездуховных» нужно, наконец, принять только один критерий земной жизни: живете ли вы радостно, с восторгом перед этой жизнью, ибо восхищением и радостью – накапливаем, сомнением – разрушаем, беспокойством и негодованием – теряем.

            Авторский комментарийПолная чаша даже при легком дрожании может пролиться. В этой жизни невозможно достичь чего-то существенного, все время беспокоясь, сомневаясь и переживая. Результат такого напряжения – старение ума и тела, в конечном счете, болезнь и короткая жизнь.

            Смешны проблемы типа: «Говорят, Солнцу осталось светить пять лет, потом взрыв» или «Земля в области экватора расширяется». У Творца на все свое время. Придет космическая осень, замрет жизнь не только на Земле. Исчезнут все видимые объекты: звезды, галактики. Но для Высшего это будет такой же Золотой порой, какой бывает урожайная осень на Земле. Его Урожай – энергия миллионов Солнечных клеточек, создающих мощь Высшего. И родники этой мощи лежат здесь, на Земле, в людской доброте, сострадании, милосердии, любви, восхищении и радости. Среди многих споров и рассуждений об «умных» и «глупых», «богатых» и «бедных», «духовных» и «бездуховных» нужно, наконец, принять только один критерий земной жизни: живете ли вы радостно, с восторгом перед этой жизнью, ибо восхищением и радостью – накапливаем, сомнением – разрушаем, беспокойством и негодованием – теряем.

            Авторский комментарийПолная чаша даже при легком дрожании может пролиться. В этой жизни невозможно достичь чего-то существенного, все время беспокоясь, сомневаясь и переживая. Результат такого напряжения – старение ума и тела, в конечном счете, болезнь и короткая жизнь.

            Смешны проблемы типа: «Говорят, Солнцу осталось светить пять лет, потом взрыв» или «Земля в области экватора расширяется». У Творца на все свое время. Придет космическая осень, замрет жизнь не только на Земле. Исчезнут все видимые объекты: звезды, галактики. Но для Высшего это будет такой же Золотой порой, какой бывает урожайная осень на Земле. Его Урожай – энергия миллионов Солнечных клеточек, создающих мощь Высшего. И родники этой мощи лежат здесь, на Земле, в людской доброте, сострадании, милосердии, любви, восхищении и радости. Среди многих споров и рассуждений об «умных» и «глупых», «богатых» и «бедных», «духовных» и «бездуховных» нужно, наконец, принять только один критерий земной жизни: живете ли вы радостно, с восторгом перед этой жизнью, ибо восхищением и радостью – накапливаем, сомнением – разрушаем, беспокойством и негодованием – теряем.

            Авторский комментарий Авторский комментарийАвторский комментарийАвторский комментарийАвторский комментарийАвторский
        </p>
       
        <p class="pageNamber">33 стр.</p>
    </div>


    <!-- Pagination -->
    <div class="pagination" style="">
        <ul>
            <li class="active"><a href="#">Назад</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a>...</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a>...</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Вперед</a></li>
        </ul>

        <div class="input-append right">
            <input id="appendedInputButton" type="text" style="width:50px;"><button class="btn" type="button">Перейти!</button>
        </div>
    </div>

    </div>