
<script src="~/js/Scripts/BooksPage.js"></script>

@functions
{
public bool IsAuthenticated()
{
    return Context.User.Identity.IsAuthenticated;
}
}
<!-- Для чтения получения данных из ViewBag в фале скриптов -->
<input type="hidden" id="idBook" data-value="@ViewBag.Page.IdBook" />
<input type="hidden" id="idPage" data-value="@ViewBag.Page.IdPage" />

<div class="span10 offset1">

    @*TO DO!!  breadcrumb для media*@
    @*<div class="breadcrumb">
           <span class="left">
               <ol class="breadcrumb">
                   <li class="breadcrumb-item"><a href="#">Home /</a></li>
                   <li class="breadcrumb-item"><a href="#">Category /</a></li>
                   <li class="breadcrumb-item"><a href="#">Aythor /</a></li>
                   <li class="breadcrumb-item active">BookName</li>
               </ol>
           </span>
        </div>*@

    <br>

    @if (IsAuthenticated())
    {
        <h6 class="title-bg title-bg-white" style="height:25px;">
            <button id="btnUserBookmark" class="btn btn-small btn-warning">Закладка <i class="icon-bookmark"></i></button>
            <span class="right btn-group">
                <button id="btnIncreaseTextSize" class="btn btn-small btn-inverse">Aa+</button>
                <button id="btnReduceTextSize" class="btn btn-small btn-inverse">Aa-</button>
                <button id="btnSaveUserSettings" class="btn btn-small btn-inverse">Сохранить</button>
            </span>
        </h6>
    }
    <div id="PageText" class="project-details project-details-page" style="font-size:@ViewBag.Page.TextFontSize">
        <p>
            @ViewBag.Page.PageContent
        </p>

        <p class="pageNamber"> @ViewBag.Page.PageNumber стр.</p>
    </div>


    <!-- Pagination -->
    <div class="pagination" style="">
        <ul>
            <li class="active"><a href="#">Назад</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a>...</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a>...</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Вперед</a></li>
        </ul>

        <div class="input-append right">
            <input id="appendedInputButton" type="text" style="width:50px;"><button class="btn" type="button">Перейти!</button>
        </div>
    </div>

</div>

