@using LibOnline.Areas.Admin.Models.Aythor;
@model List<Author>;
@*<link href="~/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.energyblue.css" rel="stylesheet" />


    <script type="text/javascript" src="../../scripts/jquery.js"></script>*@

<script src="~/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxdata.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxscrollbar.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxmenu.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxdropdownlist.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.selection.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.columnsresize.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.filter.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.sort.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.pager.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.grouping.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>

<script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxinput.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxvalidator.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxnotification.js"></script>

<script src="~/jqwidgets/globalization/globalize.js"></script>
<script src="~/jqwidgets/globalization/globalize.culture.ru-RU.js"></script>
<script src="~/jqwidgets/Localisation/Localisation.js"></script>

<script src="~/Admin/js/Scripts/Authors.js"></script>

@{
    Layout = "_Layout";
    ViewBag.Authors = "active";
}


<div id="mainDiv" class="col-sm-offset-3" style="visibility:hidden;">

    <div style="margin-top:5%">


        <button id="btnAddNewAuthor" style="height:25pt;margin:10pt;">Добавить</button>
        <button id="btnAuthorUpdate" style="height:25pt">Изменить</button>

        <div id="jqxgrid"></div>
    </div>


    <!--Insert Aithor-->
    <div id="dialodAddAuthor" style="display:none">
        <div>
            <div>
                @Html.Label("Автор")<br>
                <input type="text" id="txtAuthorFullNameInsert" />
            </div>

            <div style="position:absolute; bottom:10px; right:10px">
                <button id="btnConfirmAddAuthor" class="pull-right" style="height:25pt;margin:5pt;">Подтвердить</button>
                <button id="btnCanselAddAuthor" class="pull-right" style="height:25pt;margin:5pt;">Отмена</button>
            </div>
        </div>
    </div>

    <!--Update Author-->
    <div id="dialodUpdateAuthor"  style="display:none">
        <div>
            <input type="hidden" id="idAithorForUpdate" />
            @Html.Label("Автор")<br>
            <input type="text" id="txtAuthorFullNameUpdate"/>
        </div>

        <div>
            <input type="checkbox" id='jqxcheckbox'/> Активен 
        </div>

        <div style="position:absolute; bottom:10px; right:10px">
            <button id="btnConfirmUpdateAuthor" class="pull-right" style="height:25pt;margin:5pt;">Подтвердить</button>
            <button id="btnCanselUpdateAuthor" class="pull-right" style="height:25pt;margin:5pt;">Отмена</button>
        </div>
    </div>

    <div id="messageNotification" style="margin-top:35%; display:none">
        <div id="jqxNotificationShow"></div>
    </div>
</div>
   