@model LibOnline.Models.Account.RegisterModel

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="~/css/loginPage.css" />
</head>

<div class="container">
    <section id="content">
        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
            @*<div class="validation" asp-validation-summary="ModelOnly"></div>*@
            <h1>Регистрация</h1>
            <div class="form-group">
                <input type="text" asp-for="Login" placeholder="Логин" />
                <span asp-validation-for="Login" />
            </div>
            <div class="form-group">
                <input type="text" asp-for="Email" placeholder="E-Mail" />
                <span asp-validation-for="Email" />
            </div>
            <div class="form-group">
                <input asp-for="Password" placeholder="Пароль" />
                <span asp-validation-for="Password" />
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" placeholder="Повторите пароль" />
                <span asp-validation-for="ConfirmPassword" />
            </div>
            <div class="form-group">
                <input type="submit" value="Регистрация" class="btn" />
                <a asp-controller="Account" asp-action="Recovery" style="color:#d8450b">Забыли пароль?</a>
                <a asp-controller="Account" asp-action="Login" style="color:#d8450b">Войти</a>
            </div>
        </form><!-- form -->

    </section><!-- content -->
</div><!-- container -->

<script>
    $(document).ready(function () {

        debugger;

        let msg = '@ViewBag.result';
        if (msg === "error")
            swal("Ошибка", "Пользователь не был зарагестрирован", msg);


        let WinhHeight = $(window).height();
        let DocHeight = $(document).height();

        if (WinhHeight > DocHeight) {
            $("#idFooter").css({ position: 'fixed', top: '87%' });
        } else {
            $("#idFooter").css({ position: '', top: '' });
        }
    });
</script>
