@Html.Partial("_CategoriesPartail")

<div class="span9 gallery-single">

    <div class="row">
        <div class="span4">
            <img src="~/img/Sherlock.jpg" class="align-left thumbnail" alt="image" />
        </div>
        <div class="span5">
            <h2>Казнь Шерлока Холмса</h2>
            @*<p class="lead">For an international ad campaign. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus</p>*@
            <div data-spy="scroll" style="height:250px;overflow:auto; position: relative;padding: 10px;">
                <p align="justify">
                    Давно опустевшая, предназначенная под снос Ньюгейтская тюрьма вдруг получила долгожданного узника,
                    и это не кто иной, как Шерлок Холмс! Вступившие в сговор преступники похитили великого сыщика и заточили
                    в мрачные стены, чтобы устроить над ним суд. Легко догадаться, каким будет результат этого судилища:
                    по длинному коридору, куда выходят пятнадцать камер для смертников, через арку с изречением "Оставь
                    надежду, всяк сюда входящий" приговоренного потащат во двор, где сооружен эшафот… Дональд Томас
                    считается лучшим автором шерлокианы после Артура Конан Дойла. Почтительное и бережное отношение к
                    канону он сочетает с глубоким знанием Викторианской и Эдвардианской эпохи. Благодаря его увлекательным
                    книгам в мире постоянно растет число поклонников гениального детектива.
                </p>
                @*<p align="justify">
                    Дональд Томас считается лучшим автором шерлокианы после Артура Конан Дойла. Почтительное и бережное отношение к канону он сочетает с глубоким знанием Викторианской и Эдвардианской эпохи. Благодаря его увлекательным книгам в мире постоянно растет число поклонников гениального детектива.
                </p>*@
            </div>
            <br>

            <ul class="project-info">
                <li><h6>Дата:</h6>16/10/2014</li>
                <li><h6>Автор:</h6> <a href="#">Дональд Майкл Томас</a></li>
                <li><h6>Жанр:</h6> <a  href="#">Детектив</a>, <a  href="#">Приключение</a></li>
                <li><h6>Рейтинг:</h6>"Звездный" Виджет (1-5 звезд)</li>
            </ul>
                <button id="btnReadBook" class="btn btn-large btn-inverse span2" type="button">Читать</button>
                <button class="btn btn-large btn-warning span2" type="button">В избранное</button>
        </div>
    </div>

    <!-- Post Comments
        ================================================== -->
    <section class="comments" name="comments">
        <h4 class="title-bg"><a name="comments"></a>Всего 5 отзывов </h4>
        <ul>
            <li>
                @*<img src="img/user-avatar.jpg" alt="Image" />*@
                <span class="comment-name">Имя Пользователя</span>
                <span class="comment-date">Февраль 04, 2019 | <a href="#">Отверить</a></span>
                <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
                <!-- Reply -->
                <ul>
                    <li>
                        @*<img src="img/user-avatar.jpg" alt="Image" />*@
                        <span class="comment-name">Имя Пользователя</span>
                        <span class="comment-date">Февраль 04, 2019 | <a href="#">Отверить</a></span>
                        <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
                    </li>
                    <li>
                        @*<img src="img/user-avatar.jpg" alt="Image" />*@
                        <span class="comment-name">Имя Пользователя</span>
                        <span class="comment-date">Февраль 04, 2019 | <a href="#">Отверить</a></span>
                        <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
                    </li>
                </ul>
            </li>
            <li>
                @*<img src="img/user-avatar.jpg" alt="Image" />*@
                <span class="comment-name">Имя Пользователя</span>
                <span class="comment-date">Февраль 04, 2019 | <a href="#">Отверить</a></span>
                <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
            </li>
            <li>
                @*<img src="img/user-avatar.jpg" alt="Image" />*@
                <span class="comment-name">Имя Пользователя</span>
                <span class="comment-date">Февраль 04, 2019 | <a href="#">Отверить</a></span>
                <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
            </li>

        </ul>

        <!-- Comment Form -->
        <div class="comment-form-container">
            <h6>Написать отзыв</h6>
            <form action="#" id="comment-form">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input class="span4" id="prependedInput" size="16" type="text" placeholder="Name">
                </div>
                <textarea class="span6"></textarea>
                <div class="row">
                    <div class="span2">
                        <input type="submit" class="btn btn-inverse" value="Опубликовать">
                    </div>
                </div>
            </form>
        </div>
    </section>

</div><!-- End gallery-single-->


<script>

    // Ссылка обращается в метод конроллера
    $('#btnReadBook').click(function () {
        var Url = '@Url.Action("BooksPage", "BooksPage")';
        $(location).attr('href', Url);
    });
</script>