@using LibOnline.Areas.Admin.Models.Access;


@{
    Layout = "_Layout";
    ViewBag.Users = "active";
}

<script src="~/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxdata.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxscrollbar.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxmenu.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxdropdownlist.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.selection.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.columnsresize.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.filter.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.sort.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.pager.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.grouping.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>

<script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxinput.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxvalidator.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxnotification.js"></script>

<script src="~/jqwidgets/globalization/globalize.js"></script>
<script src="~/jqwidgets/globalization/globalize.culture.ru-RU.js"></script>
<script src="~/jqwidgets/Localisation/Localisation.js"></script>

<script src="~/Admin/js/Scripts/Users.js"></script>

<script src="~/chosen/chosen.jquery.js"></script>
<link href="~/chosen/chosen.css" rel="stylesheet" />

<div id="mainDiv" class="col-sm-offset-3" style="visibility:hidden;">

    <div style="margin-top:5%">

        <button id="btnUserUpdate" style="height:25pt;margin:10pt;">Изменить</button>

        <div id='jqxgrid'></div>
    </div>

    <!--Update User-UserRole-->
    <div id="dialodUpdateUser" style="display:none">
        <div>

            <label for="selUesrRole" style="margin-top:10pt;">Роль:</label>
            <select id="selUesrRole" class="chosen-select">
                @foreach (var item in Model)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>

            <label for="selIsActiveUser" style="margin-top:15pt;">Доступ:</label>
            <select id="selIsActiveUser" class="chosen-select"></select>

            <div style="position:absolute; bottom:10px; right:10px">
                <button id="btnConfirmUpdateUser" class="pull-right" style="height:25pt;margin:5pt;">Подтвердить</button>
                <button id="btnCanselUpdateUser" class="pull-right" style="height:25pt;margin:5pt;">Отмена</button>
            </div>
        </div>
    </div>


    <div id="messageNotification" style="margin-top:35%; display:none">
        <div id="jqxNotificationShow"></div>
    </div>

</div>