
    <div class="span3 sidebar page-left-sidebar">

        <div class="input-append">
            <form action="#">
                <input id="appendedInputButton" size="16" type="text" placeholder="Поиск"><button class="btn" type="button"><i class="icon-search"></i></button>
            </form>
        </div>

        <h5 class="title-bg">Жанры</h5>
        <ul class="post-category-list" id="ulAllCategories"></ul>
    </div><!-- End sidebar column -->



    <script>
    $(document).ready(function () {
        $.ajax({
            // Для обращение к методам одного контроллера из любого друго
            url: '@Url.Content("~/Home/GetAllCategories")',
            success: function (result) {
                RenderCategoriesList(result);
            },
        });

        function RenderCategoriesList(result) {
            debugger;
            var categoriesHTML = '';
            $.each(result, function () {
                var idCat = this.idCategory;
                categoriesHTML += '<li><a href="/BooksCategories/GetBooksCategories?idCategory=' + this.idCategory +'&pageNumber=1"><i class="icon-plus-sign"></i>' + this.categoryName + '</a></li>';
                });
            $('#ulAllCategories').html(categoriesHTML);
        }//RenderCategoriesList

    });// document.ready
    </script>
