<!-- Footer Area
    ================================================== -->
@*<div class="footer-container">*@
    @*<div class="container">*@
        @*<div class="row">*@
            <!-- Begin Sub Footer -->
            <div class="span12 footer-col footer-sub" id="idFooter">
                <div class="row no-margin">
                    <div class="span6"><span class="left">Бесплатная онлайн библиотека 2018 - 2019</span></div>
                    <div class="span6">
                        <span class="right">
                            <a href="#">Главная</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                            <a href="#">Избранное</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                            <a href="#">Топ 100</a>
                            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                            <a href="#">Популярное</a>
                            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                            <a href="#">Новое</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;

                        </span>
                    </div>
                </div>
            @*</div>*@
        </div><!-- End Sub Footer -->

    @*</div>*@
@*</div>*@
    <!-- Scroll to Top -->
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>


    <script>
        let WinhHeight = $(window).height();
        let DocHeight = $(document).height();

        if (WinhHeight + 50 > DocHeight) {
            $("#idFooter").css({ position: 'fixed', top: '90%' });
        } else {
            $("#idFooter").css({ position: '', top: '' });
        }
    </script>