
<script src="~/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxdata.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxscrollbar.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxmenu.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxdropdownlist.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.selection.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.columnsresize.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.filter.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.sort.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.pager.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.grouping.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>

<script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxinput.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxvalidator.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxnotification.js"></script>

<script src="~/jqwidgets/globalization/globalize.js"></script>
<script src="~/jqwidgets/globalization/globalize.culture.ru-RU.js"></script>
<script src="~/jqwidgets/Localisation/Localisation.js"></script>


@{
    Layout = "_Layout";
    ViewBag.Comments = "active";
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

</div>
