
<script src="~/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxdata.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxscrollbar.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxmenu.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxdropdownlist.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.selection.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.columnsresize.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.filter.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.sort.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.pager.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.grouping.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>

<script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxinput.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxvalidator.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxnotification.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxtextarea.js"></script>

<script src="~/jqwidgets/globalization/globalize.js"></script>
<script src="~/jqwidgets/globalization/globalize.culture.ru-RU.js"></script>
<script src="~/jqwidgets/Localisation/Localisation.js"></script>

<script src="~/Admin/js/Scripts/Comments.js"></script>

@{
    Layout = "_Layout";
    ViewBag.Comments = "active";
}

<div id="mainDiv" class="col-sm-offset-3" style="visibility:hidden;">
    <div style="margin-top:5%">


        <button id="btnVerificatComment" style="height:25pt;margin:10pt;">Проверить</button>

        <div id="jqxgrid"></div>
    </div>


    <div id="dialodVerificatComment" style="display:none">

        <textarea id="jqxTextArea"></textarea>

        <div style="position:absolute; bottom:10px; right:10px">
            <button id="btnForbitVerification" class="pull-right" style="height:25pt;margin:5pt;color:orangered">Заблокировать</button>
            <button id="btnAllowVerification" class="pull-right" style="height:25pt;margin:5pt;">Подтвердить</button>
            <button id="btnCanselVerification" class="pull-right" style="height:25pt;margin:5pt;">Отмена</button>
        </div>
    </div>



    <div id="messageNotification" style="margin-top:35%; display:none">
        <div id="jqxNotificationShow"></div>
    </div>
</div>


